#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
#mafom:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
.norm{
    font-family: 'Chakra Petch', sans-serif;
}
#sign2{
    font-size: 12px; 
    font-family: 'Chakra Petch', sans-serif;
 }
 #sign{
     background-color: #fe5e39;
     color: white;
     border-color: #fe5e39;
     margin-top: 10px;
 }
 #sign:hover{
     background-color: #e2330b;
     color: white;
     border-color: #e2330b;
 }