* {
  margin: 0;
  padding: 0;
}

.br {
  color: #fa5530;
}

.landing {
  height: auto;
  padding-bottom: 40px;
  background-image: url(../images/rates/bg/2.jpg)
}

.landings {
  height: auto;
  padding-bottom: 40px;
  background-image: url(../images/rates/bg/2.jpg)
}

.landingss {
  height: auto;
  padding-bottom: 20px;
  background-image: url(../images/rates/bg/2.jpg)
}

.brand {
  padding-top: 30px;
}

.brand h3 {
  color: white;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
}

.description {
  margin-top: 70px;
}

.descriptions {
  margin-top: 40px
}

.description h3 {
  color: white;
  /* font-family: 'Domine', serif; */
  font-size: 55px;
  text-align: center;
  font-weight: 800;
}

.descriptions h3 {
  color: white;
  /* font-family: 'Domine', serif; */
  font-size: 55px;
  text-align: center;
  font-weight: 800;
}

.description p {
  color: white;
  text-align: center;
}

#cards {
  padding-top: 30px;
}

#myCard {
  background-color: transparent;
  border: 1px solid white;
}

#myCard:hover {
  background-color: transparent;
  border: 1px solid #F1B24A;
}

.card-title {
  text-align: center;
  font-size: 25px;
  color: #F1B24A;
  opacity: 0.7;
}

.card-title:hover {
  opacity: 1;
}

.card-text {
  text-align: left;
  color: white;
  padding: 10px
}

#searchs {
  padding-top: 30px;
  padding-bottom: 40px;
}

#user {
  background-color: black;
  border: 1px solid #F1B24A;
  color: white;
  font-family: fantasy;
  padding: 15px;
  display: inline-block;
  margin-right: 5px;
}

#user:hover {
  background-color: #F1B24A;
  border: 1px solid #F1B24A;
  color: black;
}

#repo {
  background-color: #DADED4;
  border: 1px solid #F1B24A;
  color: black;
  padding: 15px;
  font-family: fantasy;
  display: inline-block;
  margin-left: 5px;
}

#repo:hover {
  background-color: black;
  border: 1px solid #F1B24A;
  color: white;
}

.imgs img {
  width: 3%;
}

.cont h4 {
  color: white;
  text-align: right;
}

.con {
  color: #F1B24A;
  text-align: right;
}

.cont a {
  margin-left: 91%;
}

/*responsive*/
@media screen and (min-width: 480px) and (max-width: 767px) {}

.ico img {
  width: 80px;
  margin-left: 32%;
  border-radius: 50%;
}

.last {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.coupon {
  border: 5px dotted #fa5530;
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px;
}

.coupon:hover {
  border: 5px solid #bbb;
  border-radius: 15px;
  margin: 0 auto;
}
.coupon img {
  border-radius: 5px;
}
.mylogo {
  padding: 2px 16px;
  background-color: #F0F3F4;
}

.mylogo h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
}

.mylogo h2 {
  padding-top: 10px;
  font-size: 20px;
}

.mylogo p {
  padding-top: 10px;
  font-size: 14px;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

.icos p {
  background-color: whitesmoke;
  padding: 30px;
  text-align: center;
  border-radius: 50%;
  width: 112px;
  margin-left: 32%;
  font-size: 22px;
  font-weight: bold;
  color: #fa5530;
}

.about {
  margin-top: 30px;
  background-color: #F0F3F4;
}

.header h5 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 30px;
}

#ratesBtn {
  margin-bottom: 20px;
}

.menus {
  margin-top: 30px;
}

.home {
  display: inline-block;
}

.profile {
  display: inline-block;
  float: right;
}

.profile button {
  background-color: white;
  color: #fa5530;
  border-radius: 50%;
}

.profile a {
  background-color: white;
  color: #fa5530;
  border-radius: 50%;
}

.icos img {
  width: 40%;
  border-radius: 50%;
  border: 2px solid white;
  padding: 10px;
}

@media only screen and (max-device-width: 780px) {
  .landing {
    height: auto;
  }
  .landings {
    height: auto;
  }
  #cards {
    height: auto;
    position: relative;
  }
}

#footer{
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #34495E ;
}
.logo img{
  max-width: 60%;
  max-height: 50px;
  border-radius: 50%;
  padding: 5px;
}
.copy p{
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15px;
  font-size: 12px;
}
.contacts p{
  color: #3C1874;
  font-weight: 600;
  text-align: right;
  padding-top: 15px;
}
.cont{
  color:#5252d4;
}
.edits{
  background-color: #a0d2eb;
  padding: 10px;
  border-radius: 8px;
}