{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="landing">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="brand">
                    <h3>Hypertext <span class="br"> Assassin</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="description">
                    <h3>Let's Rate Your Web Application Here!</h3>
                </div>
            </div>
        </div>
        <div class="row" id="searchs">
            <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                <div id="searches" class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-success" href="#last" id="user" type="button" >Find/View/Rate Projects </a>
                    <a id="repo" type="button" class="btn btn-success" href="{% url 'profile' %}">Upload a Project</a>
                </div>
            </div>
        </div>
        <div class="row" id="cards">
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Design
                            </span></h5>
                        <p class="card-text">
                            Good web design helps guide your users' eyes and tell
                             them where you want
                            them to look.
                        </p>
                        <div class="ico">
                            <img src="../../../static/images/rates/2.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Usability
                            </span></h5>
                        <p class="card-text">
                            This can be translated to the user experience and how responsive the project is.
                        </p>
                        <div class="ico">
                            <img src="../../../static/images/rates/1.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Content
                            </span></h5>
                        <p class="card-text">
                            This includes the technologies used, the font used(is it uniform throughout the project) and grammar
                         </p>
                         <div class="ico">
                            <img src="../../../static/images/rates/3.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Criteria
                            </span></h5>
                        <p class="card-text">
                            Project rating and reviews are a digital version of the word-of-mouth phenomenon.
                            A project can be rated based on , Design, Usability and Content.
                           
                        </p>
                        <div class="ico">
                            <img src="../../../static/images/rates/4.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="last" id="last">
    <div class="container">
        <div class="row">
            
            
                {% for project in project %}
                <div class="col-md-4">
                   
                    <div class="coupon my-2">
                        <div class="mylogo">
                          <h3>{{project.project_owner}}</h3>
                        </div>
                        {% if project.image %}
                        <img src="https://res.cloudinary.com/enock/{{project.image}}" alt="Avatar" style="width:100%;">
                        {% endif %}
                        <div class="mylogo" style="background-color:white">
                          <h2><b>{{project.project_name}}</b></h2> 
                          <p>{{project.description}}</p>
                          <p>{{project.project_link}}</p>
                        </div>
                        <a href="{% url 'rates' project.id %}">view</a>
                        <div class="mylogo">
                          <p class="expire">Published: <span style="color: black;">{{project.date_added}}</span></p>
                        </div>
                      </div> 
                      
                </div>
                {% endfor %}
            
            
        </div>
    </div>
</section>
{% endblock %}

