{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="landing">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="brand">
            <h3>Hypertext <span class="br"> Assassin</span></h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="description">
            <h3>Find Github Profiles Here!</h3>
            <p>We have improved your github Search Experience!! When others are searching on ***HUB, We are on Github</p>
          </div>
        </div>
      </div>
      <div class="row" id="searchs">
          <div class="col-md-12 col-xs-12 col-sm-12 text-center">
            <div id="searches" class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-success" id="user" routerLink="/profile">Search Github by Username </button>
              <button id="repo" class="btn btn-success" routerLink="/repos">Search Github by Repositories</button>
            </div>
          </div>
        </div>
      <div class="row" id="cards">
        <div class="col-md-3 d-flex pb-3">
          <div class="card" id="myCard">
            <div class="card-body">
              <h5 class="card-title"><span class="material-icons-outlined">
                  Design
                </span></h5>
              <p class="card-text">Github is making around $200 million in Annual Recurring Revenue.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex pb-3">
          <div class="card" id="myCard">
            <div class="card-body">
              <h5 class="card-title"><span class="material-icons-outlined">
                  Usability
                </span></h5>
              <p class="card-text">Sometimes emojis worth thousand words. The “thumps up” emoji has been used on Github
                more than 7.2 million times.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex pb-3">
          <div class="card" id="myCard">
            <div class="card-body">
              <h5 class="card-title"><span class="material-icons-outlined">
                  Content
                </span></h5>
              <p class="card-text">Million of open source projects on GitHub are written in 337 programming languages, of
                which JavaScript is most popular. </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex pb-3">
          <div class="card" id="myCard">
            <div class="card-body">
              <h5 class="card-title"><span class="material-icons-outlined">
                  sentiment_very_satisfied
                </span></h5>
              <p class="card-text">The mascot of GitHub is a female cat with 5 octopus-like arms. It was created by
                freelance graphic designer Simon Oxley (who also designed Twitter’s bird) to sell on iStock. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="last">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cont">
            <h4>Contact <span class="con">Us</span></h4>
            <a href="mailto:anock.abere@student.moringaschool.com" target="blank">
              <span class="material-icons-outlined">
                forward_to_inbox
              </span>
            </a>
          </div>      
        </div>
      </div>
    </div>
  </section>
{% endblock %}