{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<section class="landingss">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="brand">
                    <h3>Hypertext <span class="br"> Assassin</span></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="menus">
                    <div class="profile">
                        <a type="button" href="{% url 'dashboard' %}" class="btn btn-primary position-relative">
                            <i class="fas fa-home"></i>
                        </a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="descriptions">
                    <h3><span class="br" style="text-transform: capitalize;">{{user}}</span> Account Dashboard</h3>

                </div>
            </div>
        </div>
        {% for profile in profile %}
        <div class="row" id="cards">
            <div class="col-md-5 d-flex pb-3">
                <div class="icos" style="display: inline-block;">
                    <img src="{{profile.profile_pic.url}}" alt="profile picture">
                </div>
                <p class="card-text" style="display: inline-block;">
                    {{profile.bio}} <br>

                    <span class="br"><i class="fa fa-phone" aria-hidden="true"></i></span> <small>{{profile.contact}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="about pb-4" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="start">
                    <div class="header my-4">
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#collapseExamples">Add <span class="br">Project</span></button>
                    </div>
                </div>
                <div class="edits collapse" id="collapseExamples">
                    <form method="POST", action="{% url 'profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="p-name" placeholder="Enter project name">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" name="description"  placeholder="Project description...." rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="p-link" placeholder="Deployed url">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="file" name="image">
                            <div class="form-text">Upload a screenshot of the project</div>
                        </div>
                        <button type="submit" class="btn btn-info mb-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12">
                {% if profile %}
                <div class="start">
                    <div class="header my-4">
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#collapseExampless">Edit <span class="br">Profile</span></button>
                    </div>
                </div>
                <div class="edits collapse" id="collapseExampless">
                    <form method="POST", action="{% url 'bio_update' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <textarea class="form-control" name="bios"  placeholder="Profile Bio..." rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="contacts" maxlength="15" placeholder="07......">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="file" name="dps">
                            <div class="form-text">Upload profile picture</div>
                        </div>
                        <button type="submit" class="btn btn-info mb-3">Submit</button>
                    </form>
                </div>
                {% else %}
                <div class="start">
                    <div class="header my-4">
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#collapseExample">Profile <span class="br"> Settings</span></button>
                    </div>
                </div>
                <div class="edits collapse" id="collapseExample">
                    <form method="POST", action="{% url 'mybio' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <textarea class="form-control" name="bio"  placeholder="Profile Bio..." rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="contact" maxlength="15" placeholder="07......">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="file" name="dp">
                            <div class="form-text">Upload profile picture</div>
                        </div>
                        <button type="submit" class="btn btn-info mb-3">Submit</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
</section>
<section class="last" id="last">
    <div class="container">
        <div class="row">
            {% for project in project %}
            <div class="col-md-4" style="display: flex;">
                <div class="coupon my-2" style="width: 100%;">
                    <div class="mylogo">
                        <h3>{{project.project_owner}}</h3>
                    </div>
                    {% if project.image %}
                    <img src="https://res.cloudinary.com/enock/{{project.image}}" alt="Avatar" style="width:100%;">
                    {% endif %}
                    <div class="mylogo" style="background-color:white">
                        <h2><b>{{project.project_name}}</b></h2>
                        <p>{{project.description}}</p>
                    </div>
                    <div class="mylogo">
                        <p class="expire">Published: <span style="color: black;">{{project.date_added}}</span></p>
                        <a type='button' class="btn btn-outline-info btn-sm" href="{% url 'rates' project.id %}">Rate
                            Project</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <img src="../../assets/logo/1.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="copy">
                    <p style="text-align: center; color:white;"><i class="fa fa-copyright" aria-hidden="true"></i>
                        hypertextassassin</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}