{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<section class="landingss">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="brand">
                    <h3>Hypertext <span class="br"> Assassin</span></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="menus">
                    <div class="profile">
                        <a type="button" href="{% url 'dashboard' %}" class="btn btn-primary position-relative">
                            <i class="fas fa-home"></i>
                        </a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="descriptions">
                    <h3><span class="br" style="text-transform: capitalize;">{{user}}</span> Account Dashboard</h3>

                </div>
            </div>
        </div>
        <div class="row" id="cards">
            <div class="col-md-3 d-flex pb-3">
                <div class="icos">
                    <img src="../../../static/images/1.png" alt="">
                </div>
            </div>
            <div class="col-md-8 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Bio
                            </span></h5>
                        <p class="card-text">
                            This can be translated to the user experience and how responsive the project is.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="start">
                    <div class="header">
                        <h5>
                            Add <span class="br">Project</span>
                        </h5>
                    </div>
                </div>
                <form method="POST", action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="p-name" placeholder="Enter project name">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" name="description"  placeholder="Project description...." rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="p-link" placeholder="Deployed url">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" name="image">
                        <div class="form-text">Upload a screenshot of the project</div>
                    </div>
                    <button type="submit" class="btn btn-info mb-3">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="start">
                    <div class="header">
                        <h5>
                            Profile <span class="br">Settings</span>
                        </h5>
                    </div>
                </div>
                <form method="POST", action="{% url 'profile' %}">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <textarea class="form-control" name="bio"  placeholder="Profile Bio..." rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="contact" maxlength="15" placeholder="07......">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" name="dp">
                        <div class="form-text">Upload profile picture</div>
                    </div>
                    <button type="submit" class="btn btn-info mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}