{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<section class="landings">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="brand">
                    <h3>Published By: <span class="br"> {{project.project_owner}}</span></h3>
                </div>
            </div>
            <div class="col-md-6">
               <div class="menus">
                <div class="home" style="float:right;padding-left: 10px;">
                    <a type="button"  href="{% url 'dashboard' %}" class="btn btn-outline-info">
                        Home
                    </a> 
                </div>
                <div class="profile">
                    <button type="button" class="btn btn-primary ">
                        <i class="far fa-user-circle"></i>
                      </button> 
                   <p></p>
                </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="description">
                    <h3>See Rates For this Site Below!</h3>
                </div>
            </div>
        </div>
        <div class="row" id="cards">
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Design
                            </span></h5>
                        <p class="card-text">
                            Good web design helps guide your users' eyes and tell
                            them where you want
                            them to look.
                        </p>
                        <div class="icos">
                            <p>{{design_average}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Usability
                            </span></h5>
                        <p class="card-text">
                            This can be translated to the user experience and how responsive the project is.
                        </p>
                        <div class="icos">
                            <p>98%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Content
                            </span></h5>
                        <p class="card-text">
                            This includes the technologies used, the font used and
                            grammar
                        </p>
                        <div class="icos" style="padding-top:20px;">
                            <p>98%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Criteria
                            </span></h5>
                        <p class="card-text">
                            Project rating and reviews are a digital version of the word-of-mouth phenomenon.
                            A project can be rated based on , Design, Usability and Content.

                        </p>
                        <div class="ico">
                            <img src="../../../static/images/rates/4.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="start">
                    <div class="header">
                        <h5>
                            About <span class="br">{{project.project_name}}</span>
                        </h5>
                    </div>
                    <div class="header-body">
                        <p>
                            {{project.description}}
                        </p>
                       
                    </div>
                </div>
               <div class="btns">
                <button id="ratesBtn" class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Rate Project
                  </button>
                 
               </div>
                <div class="collapse" id="collapseExample">
                    <form method="POST", action="{% url 'rates' project.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="design" class="form-label">Design Rating</label>
                          <input type="number" class="form-control" name="design" placeholder="Enter rating between 1-10">
                          <div class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                        </div>
                        <div class="mb-3">
                          <label for="usability" class="form-label" >Usability Rating</label>
                          <input type="number" class="form-control" placeholder="Enter rating between 1-10" name="usability">
                          <div class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Content Rating</label>
                            <input type="number" class="form-control" name="content" placeholder="Enter rating between 1-10">
                            <div  class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                          </div>
                        <button type="submit" class="btn btn-info mb-3">Submit</button>
                      </form>
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}