{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<section class="landings">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="brand">
                    <h3>Project <span class="br"> Ratings</span></h3>
                </div>
            </div>
            <div class="col-md-6">
               <div class="menus">
                <div class="home" style="float:right;padding-left: 10px;">
                    <a type="button"  href="{% url 'dashboard' %}" class="btn btn-outline-info">
                        Home
                    </a> 
                </div>
                <div class="profile">
                    <a type="button" href="{% url 'profile' %}" class="btn btn-primary ">
                        <i class="far fa-user-circle"></i>
                    </a> 
                   <p></p>
                </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="description">
                    <h3>See Rates For this Site Below!</h3>
                </div>
            </div>
        </div>
        <div class="row" id="cards">
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Design
                            </span></h5>
                        <p class="card-text">
                            Good web design helps guide your users' eyes and tell
                            them where you want
                            them to look.
                        </p>
                        <div class="icos">
                            <p>{{design}}%</p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Usability
                            </span></h5>
                        <p class="card-text">
                            This can be translated to the user experience and how responsive the project is.
                        </p>
                        <div class="icos">
                            <p>{{usability}}%</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Content
                            </span></h5>
                        <p class="card-text">
                            This includes the technologies used, the font used and
                            grammar
                        </p>
                        <div class="icos" style="padding-top:0px;">
                            <p>{{content}}%</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex pb-3">
                <div class="card" id="myCard">
                    <div class="card-body">
                        <h5 class="card-title"><span class="material-icons-outlined">
                                Criteria
                            </span></h5>
                        <p class="card-text">
                            Project rating and reviews are a digital version of the word-of-mouth phenomenon.
                            A project can be rated based on , Design, Usability and Content.

                        </p>
                        <div class="ico">
                            <img src="../../../static/images/rates/4.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="start">
                    <div class="header">
                        <h5>
                            About <span class="br">{{project.project_name}}</span>
                        </h5>
                    </div>
                    <div class="header-body">
                        <p>
                            {{project.description}}
                        </p>
                       <p style="display:inline-block"><span class="br"><i class="far fa-user-circle"></i> Posted By:</span> {{project.project_owner}}</p>
                       <p style="display:inline-block;padding-left: 15px;">
                           <span class="br"><i class="far fa-link"></i> Project url:</span> 
                           <a style="text-decoration:none" target="blank" href="{{project.project_link}}">Open project</a>
                        </p>
                       <p style="display:inline-block;padding-left: 15px;"><span class="br"><i class="far fa-calendar"></i> Date Posted:</span> {{project.date_added}}</p>
                    </div>
                </div>
               <div class="btns">
                <button id="ratesBtn" class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Rate Project
                  </button>
                 
               </div>
            </div>
        </div>
    </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Rate Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST", action="{% url 'rates' project.id %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="design" class="form-label">Design Rating</label>
                  <input required type="number" class="form-control" name="design" placeholder="Enter rating between 1-10">
                  <div class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                </div>
                <div class="mb-3">
                  <label for="usability" class="form-label" >Usability Rating</label>
                  <input required type="number" class="form-control" placeholder="Enter rating between 1-10" name="usability">
                  <div class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content Rating</label>
                    <input required type="number" class="form-control" name="content" placeholder="Enter rating between 1-10">
                    <div  class="form-text">Rate project by entering a number between 1 and 10 where 10 is highest and 1 is lowest</div>
                  </div>
                <button type="submit" class="btn btn-info mb-3">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}