{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Patrick+Hand&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <img src="../../assets/logo/1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="copy">
                            <p>copyright @hypertextassassin</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>